.thumbnail p{
	margin: 0px;

}
.thumbnail .btn{
	margin-top: 10px;
}
.centrar-text{
	text-align: center;
}
	.centrar-text h2{
	text-align: center;
	margin-bottom: 50px;
	}

.marge-dalt{
	margin-top: 50px;
	float: none;
}

.marge-abaix{
	margin-bottom: 50px;
}
.marge-abaixPlus{
	margin-bottom: 30px;
}

#animal {
		padding: 4em 0;
		background-color: #F1F1F1;
	}

		#animal > header {
			text-align: center;
			margin: 0 0 3em 0;
		}

			#animal > header h2 {
				font-size: 2.75em;
				margin: 0;
			}

			#animal > header p {
				border-top: solid 2px #e5e5e5;
				color: #777;
				display: inline-block;
				font-style: normal;
				padding: 1em 0 1.25em 0;

			}
			#animal p {
				margin: 0;
			}
			#animal .img-animal{
			
				-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
			}


body.landing #animal {
	margin-top: -14em;
}

#header nav > ul > li :hover{
	background-color: rgba(153, 153, 153, 0.25);
}
#header nav > ul > .actiu{
	background-color: rgba(153, 153, 153, 0.5);
}
#header nav > ul > li.actiu :hover{
	background-color: rgba(153, 153, 153, 0);
}

#header nav > ul > li > .button:hover{
	background-color: rgba(153, 153, 153, 0);
}
#header a:hover {
	text-decoration: none;
}
.marge-logo{
	margin-left: 10px;
}

a:hover{
	text-decoration: none;
}
a{
	border-bottom: 0px;
}
.panel-title{
	font-size: 20px;
}

.menuConfiguracio{
	list-style: none;
}

.colorPanel{
	background-color: transparent;
	border: 0px; 
}

#enviar{
	margin-top: 10px;
	margin-left: 15px;
}

#map {
	height: 75%; 
	width: 80%; 
	margin-left: 10%;
	margin-top: 5%; 
}
.btn-afegir{
	border: 1px solid orange;
	background-color: white;
	color: orange;
	transition: background-color 0.3s linear, color 0.3s linear;
}
.btn-afegir:hover{
	color: white;
	background-color: orange;
}
.btn-servei{
	border: 1px solid orange;
	background-color: orange;
	color: white;
	transition: background-color 0.3s linear, color 0.3s linear;
}
.btn-servei:hover{
	color: orange;
	background-color: white;
}
.obligatori{
	color: red;
}

.linea{
	background-color: black; 
  	height: 1px;
}
.displayInline {
    display: inline!important;
}
.eliminar{
	color: #777;
	transition: color 0.3s linear;
}
.eliminar:hover{
	color: red;
}
#banner_serveis {
	background-color: #E4E4E4;
}
.max100{
	max-width: 100%;
}

.categoria {
	color: #777;
	background-color: #F5F5F5;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.thumbnail p{
	margin: 0px;

}
.thumbnail .btn{
	margin-top: 10px;
}
.centrar-text{
	text-align: center;
}
	.centrar-text h2{
	text-align: center;
	margin-bottom: 50px;
	}

.marge-dalt{
	margin-top: 50px;
	float: none;
}

.marge-abaix{
	margin-bottom: 50px;
}
.marge-abaixPlus{
	margin-bottom: 30px;
}

#animal {
		padding: 4em 0;
		background-color: #F1F1F1;
	}

		#animal > header {
			text-align: center;
			margin: 0 0 3em 0;
		}

			#animal > header h2 {
				font-size: 2.75em;
				margin: 0;
			}

			#animal > header p {
				border-top: solid 2px #e5e5e5;
				color: #777;
				display: inline-block;
				font-style: normal;
				padding: 1em 0 1.25em 0;

			}
			#animal p {
				margin: 0;
			}
			#animal .img-animal{
			
				-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
			}


body.landing #animal {
	margin-top: -14em;
}

#header nav > ul > li :hover{
	background-color: rgba(153, 153, 153, 0.25);
}
#header nav > ul > .actiu{
	background-color: rgba(153, 153, 153, 0.5);
}
#header nav > ul > li.actiu :hover{
	background-color: rgba(153, 153, 153, 0);
}

#header nav > ul > li > .button:hover{
	background-color: rgba(153, 153, 153, 0);
}
#header a:hover {
	text-decoration: none;
}
.marge-logo{
	margin-left: 10px;
}

a:hover{
	text-decoration: none;
}
a{
	border-bottom: 0px;
}
.panel-title{
	font-size: 20px;
}

.menuConfiguracio{
	list-style: none;
}

.colorPanel{
	background-color: transparent;
	border: 0px; 
}

#enviar{
	margin-top: 10px;
	margin-left: 15px;
}

#map {
	height: 75%; 
	width: 80%; 
	margin-left: 10%;
	margin-top: 5%; 
}
.btn-afegir{
	border: 1px solid orange;
	background-color: white;
	color: orange;
	transition: background-color 0.3s linear, color 0.3s linear;
}
.btn-afegir:hover{
	color: white;
	background-color: orange;
}
.btn-servei{
	border: 1px solid orange;
	background-color: orange;
	color: white;
	transition: background-color 0.3s linear, color 0.3s linear;
}
.btn-servei:hover{
	color: orange;
	background-color: white;
}
.obligatori{
	color: red;
}

.linea{
	background-color: black; 
  	height: 1px;
}
.displayInline {
    display: inline!important;
}
.eliminar{
	color: #777;
	transition: color 0.3s linear;
}
.eliminar:hover{
	color: red;
}
#banner_serveis {
	background-color: #E4E4E4;
}
.max100{
	max-width: 100%;
}

.categoria {
	color: #777;
	background-color: #F5F5F5;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.solicitud{
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid gray;
}
.no-margin{
	margin:0px;
}
.float-right{
	float:right;
}
.no-float{
	float: none;
}
.solicitud table tbody tr:nth-child(2n + 1) {
    background-color: transparent;
}
.solicitud table tbody tr {
	border: 0;
}
.alinear-dreta{
	text-align: right;
}
.modal-open {
    overflow-y: scroll;
}
.badge {
	background-color: #DA7722;
	padding: 10px 13px;
}
#header nav > ul > li .badge:hover{
	background-color: #DA7722;
}


::-moz-selection {
 background: white;
}

::selection { background: white; }
 @-webkit-keyframes 
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes 
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}


#filtre {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  font: normal 200 14px/1.5rem "Roboto", "Helvetica Neue", sans-serif;
  color: #666;
}

#filtre h2 {
  font-size: 1rem;
  color: #444;
  margin: 0;
}

#filtre h2 small {
 font-size: .8rem;
  color: #a2a2a2;
  display: block;
  font-weight: normal;
}

#filtre label {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 28px;
  font-weight: normal;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


#filtre label i {
  display: inline-block;
  height: 25px;
  position: relative;
  top: 6px;
  font-style: normal;
  color: #ccc;
}

#filtre label span {
  display: inline-block;
  margin-left: 5px;
  line-height: 25px;
  color: gray;
}

#filtre input[type="radio"] { display: none; }

#filtre input[type="radio"] + i:before{
  font-family: 'FontAwesome';
  font-size: 28px;
  height: 25px;
  width: 25px;
  display: inline-block;
}

#filtre input[type="radio"]:checked + i{
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}

#filtre input[type="radio"]:checked + i + span
{
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#filtre input[type="radio"] + i:before { content: "\f10c"; }

#filtre input[type="radio"]:checked + i:before { content: "\f111"; }

#filtre input[type="radio"]:checked + i + span,
#filtre input[type="radio"]:checked + i:before { color: #ED9A0A; }

.pointer{
	cursor: pointer;
}

.demo-card-header-pic .card-header {

    background-size: cover;
    background-position: center;

}
.card1 {
  background: #fff;
  margin: 8px;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cardheader-centre{
    text-align:center;
    display:block;
    font-size: 33px;
    padding: 10px 0 0 0;
}

.imatge-logo{
	width: 100%;
}

.card-content{
	margin-top: 10px;
}

.iconRed{
	color: red;
}

.iconGreen{
	color: green;
}


