.thumbnail p{
	margin: 0px;

}
.thumbnail .btn{
	margin-top: 10px;
}
.centrar-text{
	text-align: center;
}
	.centrar-text h2{
	text-align: center;
	margin-bottom: 50px;
	}

.marge-dalt{
	margin-top: 50px;
}

.marge-abaix{
	margin-bottom: 50px;
}
.marge-abaixPlus{
	margin-bottom: 30px;
}

#animal {
		padding: 4em 0;
		background-color: #F1F1F1;
	}

		#animal > header {
			text-align: center;
			margin: 0 0 3em 0;
		}

			#animal > header h2 {
				font-size: 2.75em;
				margin: 0;
			}

			#animal > header p {
				border-top: solid 2px #e5e5e5;
				color: #777;
				display: inline-block;
				font-style: normal;
				padding: 1em 0 1.25em 0;

			}
			#animal p {
				margin: 0;
			}
			#animal .img-animal{
			
				-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
			}


body.landing #animal {
	margin-top: -14em;
}

#header nav > ul > li :hover{
	background-color: rgba(153, 153, 153, 0.25);
}
#header nav > ul > .actiu{
	background-color: rgba(153, 153, 153, 0.5);
}
#header nav > ul > li.actiu :hover{
	background-color: rgba(153, 153, 153, 0);
}

#header nav > ul > li > .button:hover{
	background-color: rgba(153, 153, 153, 0);
}
#header a:hover {
	text-decoration: none;
}
.marge-logo{
	margin-left: 10px;
}

a:hover{
	text-decoration: none;
}
a{
	border-bottom: 0px;
}
.panel-title{
	font-size: 20px;
}

.menuConfiguracio{
	list-style: none;
}

.colorPanel{
	background-color: transparent;
	border: 0px; 
}

#enviar{
	margin-top: 10px;
	margin-left: 15px;
}

#map {
	height: 75%; 
	width: 80%; 
	margin-left: 10%;
	margin-top: 5%; 
}
.btn-afegir{
	border: 1px solid orange;
	background-color: white;
	color: orange;
	transition: background-color 0.3s linear, color 0.3s linear;
}
.btn-afegir:hover{
	color: white;
	background-color: orange;
}
.obligatori{
	color: red;
}

